= form_for([@post, @post.comments.build]) do |f|
  = f.label :user_name
  %br/
  = f.text_field :user_name
  %br/
  %br/
  = f.label :content
  %br/
  = f.text_area :content
  %br/
  %br/
  = f.submit
