!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CommentBox
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / Google Fonts
    = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700'
    / Favicon
    / assets/images/favicon.ico
    = favicon_link_tag 'favicon.ico'
  %body
    #sidebar
      #logo
        = link_to root_path do
          = image_tag "logo.jpg"
    #main_content
      / Flash Message
      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert")
      = yield
